/.idea
/.dbeaver
/.project
/.settings
/.buildpath
/var
/app
/builds
/dist
/target
/vendor
/projects
/instances
/tests/integration/tmp
/projects/.gitignore
/projects/sample-data/tmp
/projects/sample-data/magento2-sample-data
/composer-pro.json
